@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

img {
  width: auto;
  height: 60vh;
  margin:  auto;
}

.height{
  height: 100vh;
}

body{
  /* The image used */
  background-image: url("assets/bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Sansita Swashed', cursive !important;
}

.status-text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}